/*---- Base html ----*/

.body{
	background-color: #2d6187;
}

.bottom-container{
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color:#e3f2fd;
}


/*---- Collections html----*/
.upperNote{
	background-color:#41aea9; 
	color:white;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*---- Home html----*/


/*---- Collections html----*/

.uniqueHR{
	border-style: none;
	border-top: dotted;
  	border-color: darkgrey;
  	width: 5%;
  	border-width: 6px;
}

.card{
	width : 600px;
	margin : 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);

}

/*---- Home html----*/ 
/*---- Update html----*/ 
/*---- Delete html----*/ 

.coloumn{
	width : 50%;
	margin : 20px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);

}

#id_Nama_Mata_Kuliah {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}


#id_Dosen_Pengajar {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

#id_Jumlah_SKS {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

#id_Semester_Tahun {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

#id_Deskripsi_Mata_Kuliah {
    width: 100%;
}

