{% extends 'base.html' %}
{% load static %}

{%  block content %}
<br>
<h2 align="center" class = "upperNote" >LIST MATA KULIAH</h2>
<hr>

{% for item in matkul %}
	<br>
	<div action = '' align="center">
		<div class="card" style="width: 20rem;"  >
		  <div class="card-header" align="center">
		  	<h4>
		    {{item.Nama_Mata_Kuliah}}
		    </h4>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<div align="center">
		    		<strong>Dosen Pengajar</strong>
		    		<hr>
		    		{{item.Dosen_Pengajar}}
		    	</div>
		    </li>
		    <li class="list-group-item">
		    	<div align="center">
		    		<!-- Jadiin css class -->
		    		<strong>Jumlah SKS</strong>
		    		<hr>
		    		{{item.Jumlah_SKS}}
		    	</div>
		    </li>
		    <li class="list-group-item">
		    	<div align="center">
		    		<!-- Jadiin css class -->
			    	<strong>Semester Tahun</strong>
			    	<hr>
					{{item.Semester_Tahun}}
				</div>
		    </li>
		    <li class="list-group-item">
		    	<div align="center">
			    	<strong>Deskripsi Mata Kuliah</strong>
			    	<!-- Jadiin css class -->
			    	<hr style = "width: 50%"> 
					{{item.Deskripsi_Mata_Kuliah}} 
				</div>
			</li>
		   	<li class="list-group-item">
		   		<button>
		   		<a href="{% url 'update' item.id %}">Edit</a>
		   		</button>
		   		<button>
				<a href="{% url 'delete' item.id %}">Delete</a>
				</button>
		    </li>
		  </ul>
		</div>
	</div>
	<hr class = "uniqueHR">
	<br>

{% endfor %}

{% endblock %}
