{% extends 'base.html' %}
{% load static %}

{%  block content %}

<br>
<h2 align="center" class = "upperNote" >DELETE FORMS</h2>
<hr>

<form method="POST">


  <div class="coloumn">

		{% csrf_token %}

		<h4 style="color: red" align="center">WARNING!!!!!</h4>
		<hr>
		<p align="center">ARE YOU SURE WANTS TO DELETE <strong>"{{item}}"
		</strong> FORMS?</p>
		<br>

		<div align="center">
			<button class="btn btn-primary">
				<a href='{% url "coll" %}' style="color:white">Cancel</a>
			</button>
			<input type = "submit" class="btn btn-primary" name = "Confirm">
		</div>
	</div>

</form>

{% endblock %}