{% extends 'base.html' %}
{% load static %}

{%  block content %}

<br>
<h2 align="center" class = "upperNote" >PENGISIAN DATA MATA KULIAH</h2>
<hr>

<form action = '' method="POST">


  <div class="coloumn">

  		<h3 align="center">FORMS</h3>

  		<br>
  		<br>
		{% csrf_token %}

		Nama Mata Kuliah : 
		<br>
		{{form.Nama_Mata_Kuliah}}

		<br>
		<br>
		Nama Dosen Pengajar : 
		<br>
		{{form.Dosen_Pengajar}}

		<br>
		<br>
		Jumlah SKS Mata Kuliah : 
		<br>
		{{form.Jumlah_SKS}}

		<br>
		<br>
		Semester Tahun :
		<br>
		{{form.Semester_Tahun}}

		<br>
		<br>
		Deskripsi Singkat Terkait Mata Kuliah : 
		<br>
		<br>
		{{form.Deskripsi_Mata_Kuliah}}

		<br>
		<br>
		<input type = "submit" class="btn btn-primary" >

	</div>

</form>

{% endblock %}