{% extends 'base.html' %}
{% load static %}

{%  block content %}

<br>
<h2 align="center" class = "upperNote" >UPDATE FORMS</h2>
<hr>

<form method="POST">


  <div class="coloumn">

		{% csrf_token %}

		Nama Mata Kuliah : 
		<br>
		{{form.Nama_Mata_Kuliah}}

		<br>
		<br>
		Nama Dosen Pengajar : 
		<br>
		{{form.Dosen_Pengajar}}

		<br>
		<br>
		Jumlah SKS Mata Kuliah : 
		<br>
		{{form.Jumlah_SKS}}

		<br>
		<br>
		Semester Tahun :
		<br>
		{{form.Semester_Tahun}}

		<br>
		<br>
		Deskripsi Singkat Terkait Mata Kuliah : 
		<br>
		<br>
		{{form.Deskripsi_Mata_Kuliah}}

		<br>
		<br>

		<button class="btn btn-primary">
			<a href='{% url "coll" %}' style="color:white">Cancel</a>
		</button>
		<input type = "submit" class="btn btn-primary" name = "Update Collections">

	</div>

</form>

{% endblock %}